*
{
	margin: 0;
	padding: 0;
}

html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: proxima-nova, sans-serif;
}



/* Navbar*/
.my-nav
{
	
	
	margin-bottom: 0;
	z-index: 999;
	background: #f2f2f2;
	border: none;
	border-radius: 0;
}

.navbar-brand
{
	width: 308px;
	cursor: pointer;
}

.left_nav, .right_nav
{
	font-size: 20px;
	font-weight: 600;
}
.navbar-default .navbar-nav>li>a
{
	color: black;

}
.navbar-default .navbar-nav>li>a:hover
{
	color: #c80000;

}

.bouton
{
	background-color:#f2f2f2 !important;
	box-shadow: none;

	
}
.glyphicon-search
{
	font-size: 18px;
	color: black;
}


.light:hover{
border-radius:100%;
animation:pulsation_bouton .4s ease-out;


}

@keyframes pulsation_bouton {

from{
box-shadow:0 0 0 0px hsla(0,100%,39%,70%),0 0 0 0 hsl(0,100%,39%);

}
to{

box-shadow:0 0 0 0px hsla(0,100%,39%,90%),0 0 0 20px hsla(0,100%,39%,0);}

}

/*navbar fin*/

/*carousel*/


.carousel-control
{
background: none;
margin: 20% 0;
}





.my-carousel
{
	position: relative;
	
}

.diapo
{
	left: 0;
	text-align: left;
	margin-left: 20px;
	bottom: 30px;
	position: absolute;
	width: 100%;
		
}

.diapo>h3
{
	background: rgba(25, 25, 25, 0.9);
	width: 70%;
	font-size: 90px;
	font-weight: 600;
	padding-left: 30px;
}

.diapo>p
{
	background: rgba(25, 25, 25, 0.9);
	width: 80%;
	font-size: 48px;
	font-weight: 600;
	padding-left: 30px;
}

.diapo a>button
{
	line-height: 2;
	font-size: 24px;
}

.ff
{
	left: 0;
	text-align: left;
		
}

.ff>h3
{
	background: rgba(25, 25, 25, 0.9);
	width: 80%;
	font-size: 90px;
	font-weight: 600;
	padding-left: 30px;
}

.ff>p
{
	background: rgba(25, 25, 25, 0.9);
	width: 100%;
	font-size: 48px;
	font-weight: 600;
	padding-left: 30px;
}

.ff a>button
{
	line-height: 2;
	font-size: 24px;

}

@media screen and (max-width: 768px)
{

		.diapo
	{
		left: 0;
		text-align: left;
		margin-left: 20px;
		bottom: 0;
		position: absolute;
		width: 100%;
			
	}


		.diapo>h3
	{
		background: rgba(25, 25, 25, 0.9);
		width: 100%;
		font-size: 45px;
		font-weight: 600;
		padding-left: 15px;
		margin-bottom: 0;
	}

	.diapo>p
	{
		background: rgba(25, 25, 25, 0.9);
		width: 100%;
		font-size: 17px;
		font-weight: 600;
		padding-left: 15px;
	}

	.diapo a>button
	{
		line-height: 2;
		font-size: 16px;
		width: 100%;
	}

		.ff
	{
		left: 0;
		text-align: left;
		margin-left: 20px;
		bottom: 0;
		position: absolute;
		width: 100%;
			
	}

		.ff>h3
	{
		background: rgba(25, 25, 25, 0.9);
		width: 100% !important;
		font-size: 45px !important;
		font-weight: 600;
		padding-left: 15px !important;
		margin-bottom: 0 !important;
	}

	.ff>p
	{
		background: rgba(25, 25, 25, 0.9);
		width: 100% !important;
		font-size: 17px !important;
		font-weight: 600;
		padding-left: 15px !important;
	}

	.ff a>button
	{
		line-height: 2;
		font-size: 16px !important;
		width: 100% !important;

	}

		
}


.achat
{
	background-color: #c80000 !important;

}

.plusinfos
{
	color: #4d4d4d !important;
}

/*carousel fin*/

.container2
{
	padding: 0;
	
}
.row
{
	margin: 0;
	padding: 0;
}

.blocimg
{
	
	padding: 0;
}



#block1 img
{
	   width: 100%;
	   opacity: 1;
	-webkit-transition: .75s ease-in-out;
	transition: .75s ease-in-out;
	   
}
#block1:hover img 
{
	opacity: .75;

}

#block2 img
{
	   width: 100%;
	   opacity: 1;
	-webkit-transition: .75s ease-in-out;
	transition: .75s ease-in-out;
}
#block2:hover img 
{
	opacity: .75;

}

#block3 img
{
	   width: 100%;
	   opacity: 1;
	-webkit-transition: .75s ease-in-out;
	transition: .75s ease-in-out;
}

#block3:hover img 
{
	opacity: .75;

}
#block4 img
{
	   width: 100%;
	   opacity: 1;
	-webkit-transition: .75s ease-in-out;
	transition: .75s ease-in-out;
}

#block4:hover img 
{
	opacity: .75;

}
#block5 img
{
	   width: 100%;
	   opacity: 1;
	-webkit-transition: .75s ease-in-out;
	transition: .75s ease-in-out;
}

#block5:hover img 
{
	opacity: .75;

}
#block6 img
{
	   width: 100%;
	opacity: 1;
	-webkit-transition: .75s ease-in-out;
	transition: .75s ease-in-out;
}
#block6:hover img 
{
	opacity: .75;

}




.plus a>button
{
	width: 50%;
	line-height: 3;
	font-size: 18px;
	margin: 50px;
	margin-left: 30%;
	margin-right: 50%;
	box-shadow: none;
}
.plus a button>span
{
	color: black;
}


#infos
{
	background-color: #f2f2f2;
}



h4
{
	font-size: 24px;
    font-weight: 800;
    padding: 48px 14px 18px 0; 
}

.blocimg2 img
{
	   width: 100%;
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.blocimg2:hover img
{
	opacity: .75;
	color: #c80000;

}

.blocimg2 p
{
	  
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.blocimg2:hover p
{
	color: #c80000;

}

.legende
{
	font-size: 24px;
	line-height: 1.1;
	font-weight: 600;
	color: black;
}


.btninfos a>button
{
	width: 50%;
	line-height: 3;
	font-size: 18px;
	margin: 50px;
	margin-left: 30%;
	margin-right: 50%;
	background-color: white !important;
	box-shadow: none;

}

.btninfos a button>span
{
	color: black;

}

#social
{
	background-color: #4d4d4d !important;
	padding-bottom: 30px;
}

#seconnecter
{
	font-size: 24px;
    font-weight: 800;
    padding: 48px 14px 18px 0; 
    color: #e6e6e6;
}

.btnsocial a>button
{
	height: 60px;
	font-size: 18px;
	box-shadow: none;
	background-color: #e6e6e6 !important;
	color: #4d4d4d;

}

.btnsocial a button>i
{
	color: #4d4d4d;
}

.btnsocial a button>span
{
	color: #4d4d4d;
	font-size: 16px;
}

footer>#social>a>button>i
{
	font-size: 48px;
}

.foot1
{
	background-color: black;
	padding-top: 50px;
	padding-bottom: 30px;
}

.foot1 .footl1>a
{
	text-decoration: none;
	color: white;
	font-size: 1em;
	font-weight: 550;
	line-height: 4

}

.foot1 .footl1>a:hover
{
	
	color: #4d4d4d;
	
}

.foot1>.footl2>ul>li
{
	display: inline;
}

.foot1 .footl2>ul>li>a
{
	text-decoration: none;
	color: white;
	font-size: 1em;
	font-weight: 550;
	
}

.foot1 .footl2>ul>li>a:hover
{
	
	color: #4d4d4d;
	
}


.foot1 .footl3>p
{
	text-decoration: none;
	color: white;
	font-size: 1em;
	font-weight: 550;
	margin-top: 15px;
	
}




